<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="CHserver" value="172.16.0.30"/>
		<add key="factory" value="chizhoujz"/>
		<add key="LineID" value="120210"/>
		<add key="isCluster" value="1"/>
		<add key="device_16bit" value="12"/>
		<add key="Conn_battery" value="Database='czjz_kanban_all';Data Source='127.0.0.1';User Id='root';Password='123456';charset='utf8';pooling=true;SslMode=None"></add>
		<add key="MySqlPath" value="Database = slac_dataanalysis; Server = localhost; Uid = root; Pwd = 123456; Port = 3306; charset=utf8mb4;" />
	</appSettings>	
</configuration>